.root {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.wrapper {
    composes: ui container from 'semantic';
}

.menu {
    composes: ui large menu from 'semantic';
    border: 0 !important;
    border-radius: 0 !important;
}

.logo {
    /*margin-right: 15px !important;*/
}

.first-item {
    composes: header item from 'semantic';
}

.item {
    composes: item from 'semantic';
}

.active {
    background-color: #00B5AD !important;
    color: #fff !important;
}