.root {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.button {
    composes: massive teal circular ui icon button from 'semantic';
}

.icon {
    composes: camera retro icon from 'semantic';
}