.root, .main-wrapper {
    height: 100%;
}

.page-wrapper {
    position: relative;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.transition-helper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page-enter {
    transform: translateX(110%);
    transition: transform 10s ease;
}

.page-enter.page-enter-active {
    transform: translateX(0);
}

.page-appear {
    transform: translateX(99%);
}

.page-appear.page-appear-active {
    transform: translateX(0);
    transition: transform 10s ease;
}

.page-leave {
    transform: translateX(0);
    transition: transform 10s ease;
}

.page-leave.page-leave-active {
    transform: translateX(110%);
}