.root{
    composes: page from './shared.css';
    composes: ui cards from 'semantic';
}

.card {
    composes: ui fluid card from 'semantic';
    margin: 0 !important;
}

.content {
    composes: content dimmer from 'semantic';
    padding: 0 !important;
}

.selfie {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.extra-content {
    composes: extra content from 'semantic';
}

.buttons {
    composes: ui three buttons from 'semantic';
}

.button {
    composes: ui basic button from 'semantic';
}

.save-button {
    composes: button;
    composes: green from 'semantic';
}

.retry-button {
    composes: button;
    composes: orange from 'semantic';
}

.cancel-button {
    composes: button;
    composes: red from 'semantic';
}