.root {
    composes: page from './shared.css';
}

.content {
    composes: ui container from 'semantic';
}

.selfie {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.buttons-wrapper {
    position: absolute;
    width: 100%;
    bottom: 20px;
}

.buttons {
    composes: ui three buttons from 'semantic';
}

.button {
    composes: ui basic button from 'semantic';
}

.save-button {
    composes: button;
    composes: green from 'semantic';
}

.retry-button {
    composes: button;
    composes: orange from 'semantic';
}

.cancel-button {
    composes: button;
    composes: red from 'semantic';
}

.loader-wrapper {
    composes: ui active inverted dimmer from 'semantic';
}

.loader {
    composes: ui large text loader from 'semantic';
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}
