.root{
    composes: page from './shared.css';
    composes: ui cards from 'semantic';
}

.card {
    composes: ui fluid card from 'semantic';
    margin: 0 !important;
}

.content {
    composes: content from 'semantic';
    height: 320px;
    background: #fff url(../images/camera_1x.png) no-repeat center center !important;
}

.extra-content {
    composes: extra content from 'semantic';
}

.buttons {
    composes: ui two buttons from 'semantic';
}

.button {
    composes: ui basic button from 'semantic';
}

.save-button {
    composes: button;
    composes: green from 'semantic';
}

.cancel-button {
    composes: button;
    composes: red from 'semantic';
}